.card {
  transition: 0.3s;
  border-radius: 10px;
  border: solid 1px black;
  width: 13vw;
  position: relative;
  display: inline-block;
  margin: 10px 4px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
}

.player-card-container {
  display: flex;
  justify-content: center;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}
