body {
  background-color: blanchedalmond;
  font-family: Helvetica, Arial, sans-serif;
}

.header-container {
  text-align: center;
}
.fa-basketball-ball {
  color: #f4a540;
}

.search-container {
  position: relative;
  margin-bottom: 0;
}

.search-box {
  width: 30vw;
  min-height: 30px;
  border: solid 2px grey;
  border-radius: 5px;
  font-size: large;
  padding: 5px;
  margin-bottom: 10px;
}

.search-suggestions {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.search-suggestions li {
  list-style: none;

  text-align: center;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}

.search-suggestions li:hover {
  background-color: #f4a540;
  cursor: pointer;
}
