.header-container {
  text-align: center;
}
.fa-basketball-ball {
  color: orange;
}

.search-container {
  position: relative;
}

.search-box {
  width: 30vw;
  min-height: 30px;
  border: solid 2px grey;
  border-radius: 10px;
  font-size: large;
  padding: 5px;
}

.search-suggestions {
  padding: 0;
  margin: 0;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.search-suggestions li {
  list-style: none;
  /* width: 30vw; */
  text-align: center;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}

.search-suggestions li:hover {
  background-color: black;
}

.search-icon {
  position: absolute;
  color: lightgrey;
  font-size: 25px;
  top: -5px;
  right: 10px;
}
